---
import Layout from '../layouts/Layout.astro';
import DropArea from '../components/DropArea.astro';

const { id } = Astro.params;
---

<Layout >
  	<div class="flex items-center justify-center">
			<DropArea></DropArea>
	</div>
</Layout>
