---
---
<header>
<nav class="flex justify-start mt-5 ml-5">
   
    <a href="/" class="w-30">
        <img src="https://lh4.googleusercontent.com/AyJeskWVoFwNUVKFp9vnw8IldzjkxVWp1MvChdT3-bGTZ19LUK2fQoCJ8KHIs_XiD3vaSxABOB0VCUOJG9Eoq1s=w16383">
        </img>
    </a>

    <div class="flex flex-row justify-end mr-5 w-full items-center gap-x-8 nav-links">
            <a href="/">Inicio</a>
            <a href="/about">Sobre mi</a>
            <a href="/blog">Blog</a>
    </div>
</nav>
</header>